/* Banner */
.container_debb33 {
    transform: translateX(-72px);
    width: 296px;
    position: fixed;
    bottom: -1px;
}

.avatarWrapper__500a6 {
    flex-grow: 1;
}

.accountProfilePopoutWrapper_d4887f {
    position: fixed;
    bottom: 60px;
    left: 10px;
}
