/* Button */ // TODO: figure out what button this is
button {
    filter: brightness(1);

    &:hover {
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(1.5);
    }
}
