/* Button */
.interactive_a868bc:active {
    background: var(--primary3);
}

button {
    filter: brightness(1);

    &:hover {
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(1.5);
    }
}
