/* DmMenu */
@import "../../Common";

.content__99f8c {
    li:nth-child(3),
    li:nth-child(4) {
        @include class("link") {
            display: none;
        }
    }

    .container__675e5 {
        display: none;
    }
}

@include class("sectionDivider") {
    display: none;
}

@include class("friendsButtonContainer") {
    position: fixed;
    translate: 0 -53px;
    background: none;
    z-index: 9999;
    width: 50px;
    padding: 0;

    @include class("interactive") {
        background: none;
    }

    @include class("content") {
        display: none;
    }
}

// remove dms text
@include class("privateChannelsHeaderContainer") {
    padding: 0;
    height: 0;
    @include class("headerText") {
        display: none;
    }
}

// move + button
@include class("privateChannelRecipientsInviteButtonIcon") {
    position: fixed;
    translate: 125px -18px;
    padding: 5px;
    z-index: 99999;
}

// move search bar to make space for above buttons
@include class("searchBar") {
    @include class("searchBarComponent") {
        font-size: 12px;
        text-align: center;
    }
}
