/* DmMenu */
.content_eed6a8 {
    li:nth-child(3),
    li:nth-child(4) {
        .linkButton_c91bad {
            display: none;
        }
    }

    li:nth-child(1) {
        .linkButton_c91bad {
            position: fixed;
            translate: -5px -53px;
            background: none;
            z-index: 9999;
            width: 42px;
            padding: 0;
        }

        .name_ec8679 {
            display: none;
        }
    }
}

// remove dms text
.privateChannelsHeaderContainer_c47fa9 {
    padding: 0;
    height: 0;
}

.headerText__88997 {
    display: none;
}

// move + button
.privateChannelRecipientsInviteButtonIcon_c47fa9 {
    position: fixed;
    translate: 100px -28px;
    padding: 5px;
    z-index: 99999;
}

// move search bar to make space for above buttons
.searchBar_f0963d {
    .searchBarComponent_f0963d {
        font-size: 12px;
        text-align: center;
    }
}
