/* DmMenu */
.content_eed6a8 {
    li:nth-child(3),
    li:nth-child(4) {
        .linkButton_c91bad {
            display: none;
        }
    }

    li:nth-child(2) {
        .linkButton_c91bad {
            position: fixed;
            translate: -10px -53px;
            background: none;
        }
    }
}

// remove dms text
.privateChannelsHeaderContainer_c47fa9 {
    padding: 0;
    height: 0;
}

.headerText__88997 {
    display: none;
}

// move + button
.privateChannelRecipientsInviteButtonIcon_c47fa9 {
    position: fixed;
    translate: 104px -27px;
    padding: 5px;
}

// move search bar to make space for above buttons
.searchBar_f0963d {
    margin-left: 30px;
    margin-right: 15px;
    .searchBarComponent_f0963d {
        font-size: 13.7px;
    }
}
