/* MembersMenu */
.membersWrap_cbd271 {
    width: 70px;
    min-width: 70px;

    // extend member menu in DM
    .members_cbd271 {
        width: 70px;
        height: calc(100vh - 48px - 22px);
        transition: ease-in 0.1s;

        &:hover {
            transform: translateX(-165px);
            width: 240px;
        }
    }

    // extend member menu in server
    &.hiddenMembers_cbd271 .members_cbd271:hover {
        transform: translateX(-80px);
    }
}

// animations for members menu
@keyframes drop-down {
    0% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(1px);
    }
}

@keyframes drop-right {
    0% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(2px);
    }
}

// hide activity/username/bottag
.activity_a31c43,
.username_de3235,
.botTag_a31c43 {
    display: none;
}

// hide and style role text
.membersGroup_cbd271 {
    padding-top: 0;
    padding-left: 8px;
    margin-left: 8px;
    margin-top: 16px;
    height: 16px;
    color: var(--background-secondary);
    border-top: var(--text-muted);
    border-top-width: 1px;
    border-top-style: solid;
}

// animate components
.container_cbd271:hover,
.membersWrap_cbd271:hover {
    .membersGroup_cbd271 {
        color: var(--text-normal);
    }

    .username_de3235 {
        display: flex;
    }

    .activity_a31c43 {
        display: flex;
        transform-origin: top;
        transform: rotateX(-90deg);
        animation: drop-down 0.1s ease-in-out 0.1s forwards;
    }

    .botTag_a31c43 {
        display: flex;
        transform-origin: left;
        transform: rotateX(-90deg);
        animation: drop-right 0.1s ease-in-out 0.2s forwards;
    }
}

// move owner icon
.ownerIcon_a31c43 {
    position: absolute;
    transform: translateX(-21px) translateY(7px) rotate(5deg) scale(0.9);
    background-color: var(--background-secondary);
    border-radius: 100%;
    padding: 2px;
}
