/* MembersMenu */
@import "../../Common";

[class*=-container]:has(> [class*=-membersWrap]) {
    width: 65px;
    min-width: 65px;
    transition: ease-in 0.1s;

    @include class("-member") {
        @include class("-childContainer") {
            @include class("-content") {
                visibility: hidden;
            }
        }
    }

    @include class("-membersGroup") {
        border-bottom-width: 1px;
        border-color: var(--border-subtle);
        border-style: solid;
        color: var(--background-gradient-chat, var(--custom-channel-members-bg));
        margin-bottom: 5px;
    }

    &:hover {
        width: 264px;

        @include class("-member") {
            @include class("-childContainer") {
                @include class("-content") {
                    visibility: visible;
                }
            }
        }

        @include class("-membersGroup") {
            color: var(--channels-default);
            display: block;
        }
    }
}

// move owner icon
@include class("ownerIcon") {
    position: absolute;
    transform: translateX(-25px) translateY(5px) rotate(5deg) scale(0.9);
    background-color: var(--background-light);
    border-radius: 100%;
    padding: 2px;
    visibility: visible;
}