/* Notice */ //TODO: Figure out updated classes
.notice__5fd4c {
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 10px;
    font-size: 12px;

    display: flex;
    flex-shrink: 1;
    position: absolute;
    justify-self: center;
    align-self: center;

    .closeButton__90904 {
        width: 18px;
        margin-right: 7px;
    }

    .textLink_a20eaa {
        margin-right: 5px;
        padding-left: 0;
    }

    button {
        margin: 0 5px;
    }

    img {
        margin: auto 15px auto auto;
    }
}
