/* Theme */
.theme-dark,
.theme-light {
    $custom-color1: #c000c0;
    $custom-color2: #6500a3;

    --custom-color1: #{$custom-color1};
    --custom-color2: #{$custom-color2};

    // prettier-ignore
    --rgb-custom-color1: #{red($custom-color1)}, #{green($custom-color1)}, #{blue($custom-color1)};
    // prettier-ignore
    --rgb-custom-color2: #{red($custom-color2)}, #{green($custom-color2)}, #{blue($custom-color2)};

    --danger: #de003e;
    --warning: #ff7722;
    --correct: #23a55a;

    // Buttons
    --brand-560: var(--custom-color2);
    --brand: var(--custom-color2);
    --brand-600: var(--custom-color2);
    --brand-500: var(--custom-color2);

    // disconnected
    --status-yellow-500: var(--warning);
}
