.bd-notice,
.bd-button {
    background-color: var(--custom-color2);
}

.bd-button {
    &.bd-button-danger {
        background: var(--danger);
    }

    &:hover {
        background-color: var(--custom-color1);
    }

    &:active {
        background-color: var(--custom-color1);
        filter: brightness(1.5);
    }
}

.bd-addon-views .bd-view-button.selected {
    background: var(--custom-color1);
}
