/* BdButton */
%shared-color {
    background-color: var(--custom-color2);
    filter: brightness(0.8);
    &.bd-button-content {
    }
}

.bd-notice {
    @extend %shared-color;
}

.bd-button,
button {
    &.bd-button-icon svg,
    .bd-icon {
        fill: white;
    }

    &,
    &.bd-button-filled {
        @extend %shared-color;

        &.bd-button-color-red {
            background: var(--danger);
            &:hover,
            &:active {
                background-color: var(--danger);
            }
        }

        &:hover {
            background-color: var(--custom-color2);
            filter: brightness(1);
        }

        &:active {
            background-color: var(--custom-color2);
            filter: brightness(1.5);
        }

        &.bd-button-disabled {
            background-color: var(--custom-color2);
        }
    }
}

.bd-addon-views .bd-view-button.selected {
    background: var(--custom-color2);
}
